body{
    margin: auto;
    text-align: center;
    max-width: 800px;
}
/* Table */
.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
 .change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }
  
  th,
  td {
    border: 1px solid black;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
  }